 <!DOCTYPE html>
<html lang="en-US">
<body>
<head>
    <script defer src=https://CDN.JSDelivr.net/npm/p5></script>
    <script defer src=https://CDN.JSDelivr.net/npm/p5/lib/addons/p5.dom.min.js></script>
    <script src="test.js"></script>
</head>

<div ng-app="">

  <label for="action-select">Select an action:</label>

<select name="action" id="action-select">
    <option value="">--Please choose an action--</option>
    <option value="add">add</option>
    <option value="remove">remove</option>
</select>

  <p>Item : <input id="item"></p>
  <p>Price : <input id="price"></p>
    <button id="submit">submit</button>
    <button id="print">Show Grocery list</button>
</div>
</body>
</html>